@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@*simple home page to display headshot image*@
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHiltonHeadshot.jpg"/>
</div>